*{
    margin: 0;
    padding: 0; 
    animation-name: shrink;
    animation-duration: 2s;
    animation-fill-mode: forwards; 
}

@keyframes shrink {
    0% {font-size: 300px;}
    100% {font-size: 16px;}
}
.footercontainer {
    width: 100%;
    height: 76.649vh;  
}
.grey {
    height: 76.649vh;
    width: 27.656vw;
    background-color: #343131;
}
.centralgen {
    font-family: 'Stoke';
    position: absolute;
    left:28%;
    bottom: 18%;
    opacity: 0;
    transition: all 1s;
    font-size: 3rem;
}
.sliding{
    animation-name: slide;
    animation-duration: 3s;
    animation-timing-function: linear;
}
.gentext {
    font-size: 2.5rem;
    color: #8d8d8d;
}
@keyframes slide{
    0%{
        opacity:0;
        transform: translateY(0);
    }
    50%{
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    
    100% {
        opacity:0;
        transform: translateY(-70vh);
    }
}
.contactbutton {
    height: 6.91vh;
    width: 17.604vw;
    background-color: white;
    border: none;
    border-radius: 0;
    position: relative;
    left:18%;
    top:12%;
    font-size: 2.5rem;
    font-family:'QuickSand';
    transition: all 0.2s;
}
.contactbutton:hover {
    background-color: #d8d8d8;
    scale: 1.1;
    cursor: pointer;
}
.linkcontainer {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    height: 30vh;
    position: relative;
    align-items: center;
    top: 22%;  
}
.footerlink {
    color: white;
    font-size: 2.2rem;
    font-family: 'QuickSand';   
}
.legal{
    position: relative;
    font-size: 2.5rem;
    color:white;
    font-family: 'QuickSand';
    position: relative;
    top:40%;
    text-align: center;
}
.logo {
    height: 32.460vh;
    width: 15.833vw;
    position: relative;
    left:75%;
    top: -85%;
}
.entreprise {
   font-size: 2.5rem;
   font-family: 'QuickSand';
   text-align: right;
   position: relative;
   top: -86%;
   left: -4%;
}



